<!-- Html view for Table -->
<div ng-controller="TableCtrl as vm" class="h-100 w-100 d-flex flex-column">
    <!-- Table Container -->
    <div class="overflow-auto p-2 bdr-bottom-lighgrey">
        <!-- Table -->
        <table class="table table-striped" ng-if="vm.table.columns.length">
            <!-- Table Headers -->
            <thead>
                <!-- Serial Number column header -->
                <th>
                    #
                </th>

                <!-- Columns returned by server -->
                <th ng-repeat="column in vm.table.columns">
                    <div class="d-flex flex-column justify-content-center">
                        <!-- Header Top -->
                        <div class="d-flex">
                            <!-- Column Name -->
                            <span class="flex-1 text-nowrap">
                                {{column.name}}
                            </span>

                            <!-- Sorting Button -->
                            <input type="button" value="" class="ib-base ib-s ib-sort" title="Toggle Sorting"
                                   ng-if="column.bSortable" ng-click="vm.toggleSorting($index)"
                                   ng-class="{  'sort-asc'  : column.sortType == vm.TableConst.SORT_ASC,
                                                'sort-desc' : column.sortType == vm.TableConst.SORT_DESC}"/>

                            <!-- Blanks Filter Button -->
                            <input type="button" value="" class="ib-base ib-s ib-blank"
                                   title="Show / Hide Blanks" ng-click="vm.toggleBlanks($index)"
                                   ng-class="{'active' : column.bNoBlanks}"/>
                        </div>
                    </div>
                </th>
            </thead>

            <!-- Table Body -->
            <tbody  ng-if="vm.table.rows.length && !vm.bWaiting && !vm.bError">
                <!-- Table Row -->
                <tr ng-repeat="row in vm.table.rows">
                    <!-- Serial Number -->
                    <td>
                        {{(vm.table.pager.startIdx + $index + 1) + "."}}
                    </td>

                    <!-- Data returned by server -->
                    <td ng-repeat="column in vm.table.columns"  ng-init="value = row.values[column.id]">
                        <!-- Simple Text Value -->
                        <span ng-if="(value == '-') || (column.type != vm.TemplateConst.FIELD_TYPE_PHOTO &&
                                                        column.type != vm.TemplateConst.FIELD_TYPE_SIGN &&
                                                        column.type != vm.TemplateConst.FIELD_TYPE_LOCATION)">
                            {{value}}
                        </span>

                        <!-- Button to open image -->
                        <input type="button" value="" class="ib-base ib-s ib-hover ib-link" title="Open Image"
                               ng-if="(value != '-') && (column.type == vm.TemplateConst.FIELD_TYPE_PHOTO ||
                                                         column.type == vm.TemplateConst.FIELD_TYPE_SIGN)"
                               ng-click="$root.Statics.absorbEvent($event); vm.showImage(value)"/>

                        <!-- Button to open location -->
                        <input type="button" value="" class="ib-base ib-s ib-hover ib-map" title="Open Location"
                               ng-if="(value != '-') && (column.type == vm.TemplateConst.FIELD_TYPE_LOCATION)"
                               ng-click="$root.Statics.absorbEvent($event); vm.showLocation(value)"/>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Waiting / Error UI -->
        <div class="d-flex align-items-center justify-content-center mt-1 p-4"
             ng-if="vm.bError || vm.bWaiting || !vm.table.rows.length">
            <!-- Waiting Spinner -->
            <div class="d-flex align-items-center" ng-if="vm.bWaiting">
                <loader ng-if="vm.bWaiting" class="loader-l"></loader>
                <h4 class="ml-2 text-grey">Getting data...</h4>
            </div>

            <!-- Error UI -->
            <div class="d-flex align-items-center" ng-if="vm.bError">
                <img src="/static/images/ic_smiley_sad.png">
                <h4 class="ml-1 text-grey">Could not sync data...</h4>
            </div>

            <!-- No data UI -->
            <div class="d-flex align-items-center" ng-if="!vm.bError && !vm.bWaiting && !vm.table.rows.length">
                <img src="/static/images/ic_smiley_neutral.png">
                <h4 class="ml-1 text-grey">Nothing to show...</h4>
            </div>
        </div>
    </div>

    <!-- Pager -->
    <div class="d-flex align-items-center justify-content-between mx-3 my-1"
         ng-init="pager = vm.table.pager">
        <!-- Page numbers using bootstrap pagination -->
        <ul class="pagination">
            <li ng-repeat="page in $root.getArray(vm.table.pageCount()) track by $index" class="page-item"
                ng-class="{'active': pager.startIdx == ($index * pager.count)}">
                <a href ng-click="vm.openPage($index + 1)" class="page-link">{{$index + 1}}</a>
            </li>
        </ul>

        <!-- Rows per page -->
        <span>
            Showing
            <input type="number" class="input-box active width-sm" ng-model="pager.count"
                   ng-model-options="{debounce: 500}" ng-change="vm.updateCount()">
            rows per page out of {{vm.table.totalRows}} rows
        </span>
    </div>
</div>