<!-- Dahsboard -->

<div class="dashboard d-flex">
    <div class="bg-black d-flex flex-column w-10">
        <div class="logo-container align-self-center">
            <img class="ic-large align-self-center" src="/static/images/logo.png">
        </div>
        <button class="nav-btn nav-menu-btn" ng-repeat="menu in vm.menus" ng-if="role >= menu.access"
                ng-class="{'active': vm.nav.activeMenu == menu}" ng-click="menu.select()">
            {{menu.name}}
        </button>
        <button class="nav-btn nav-menu-btn" ng-click="openHelp()">
            Help
        </button>
    </div>

    <div class="d-flex flex-column w-90">
        <div class="bg-black d-flex align-items-center">
            <button ng-repeat="tab in vm.nav.activeMenu.tabs" ng-click="vm.nav.activeMenu.selectTab($index)"
                    class="nav-btn nav-tab-btn h-50 align-self-end"
                    ng-class="{'active': vm.nav.activeMenu.activeTab == tab}">
                {{tab.name}}
            </button>

            <div class="dropdown ml-auto mr-5 my-1">
                <div class="fbx-h align-items-center bttn" data-toggle="dropdown">
                    <img src="/static/images/ic_user_photo.png" class="ib-base ib-l">
                    <div class="fbx-v align-items-center ml-3">
                        <span class="text-white text-bold">Welcome,</span>
                        <span class="text-white">{{name}}</span>
                    </div>
                    <img class="img-icon ml-2" src="/static/images/ic_dropdown_light.png"/>
                </div>

                <div class="dropdown-menu">
                    <button class="dropdown-item" ng-click="changePassword()">Change Password</button>
                    <button class="dropdown-item" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-1 p-1 bg-off-white" ui-view></div>
    </div>
</div>