<!-- Dahsboard -->

<div class="dashboard d-flex">
    <div class="bg-navy-blue-light d-flex flex-column w-10">
        <div class="logo-container align-self-center">
            <img class="ic-large align-self-center" src="/static/images/logo_icon.png">
        </div>
        <button class="nav-btn nav-menu-btn" ng-repeat="item in $root.Constants.DashboardNav.Menu"
                ng-if="role >= item.accessLevel"
                ng-class="{'active': item.id == nav.item.id}"
                ui-sref="{{'dashboard.' + item.state + '-' + item.options[0].state}}">
            {{item.name}}
        </button>
    </div>

    <div class="d-flex flex-column w-90">
        <div class="bg-navy-blue-light d-flex align-items-center">
            <button ng-repeat="option in nav.item.options"
                    ng-click="optionClicked('dashboard.' + nav.item.state + '-' + option.state)"
                    class="nav-btn nav-tab-btn h-50 align-self-end mr-2"
                    ng-class="{'active': nav.option.id == option.id}">
                {{option.name}}
            </button>

            <div class="dropdown ml-auto mr-5 my-1">
                <div class="d-flex align-items-center" data-toggle="dropdown">
                    <img src="/static/images/logo_icon.png" alt="Avatar" class="nav-img mr-2">
                    <span class="text-white">{{"Welcome " + name}}</span>
                    <img class="img-icon" src="/static/images/dropdown.png"/>
                </div>

                <div class="dropdown-menu">
                    <button class="dropdown-item bg-navy-blue-light text-white" ng-click="changePassword()">Change Password</button>
                    <button class="dropdown-item bg-navy-blue-light text-white" ng-click="openHelp()">Help</button>
                    <button class="dropdown-item bg-navy-blue-light text-white" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-1 p-1 bg-off-white" ui-view></div>
    </div>
</div>