    <div class="full-width full-height d-flex flex-column m-5">
        <div>
            <button class="btn btn-primary w-50 text-left" data-toggle="collapse" data-target="#collapseOne">Registration</button>
            <div id="collapseOne" class="collapse in">
                <p><a href="#">Manager Registration</a></p>
                <p><a href="#">Field Representative Registration</a></p>
            </div>
        </div>

        <div>
            <button class="btn btn-primary w-50 text-left" data-toggle="collapse" data-target="#collapseTwo">Team Management</button>
            <div id="collapseTwo" class="collapse in">
                <p><a href="#">About</a></p>
                <p><a href="#">Adding Team Members</a></p>
                <p><a href="#">Removing Team Members</a></p>
            </div>
        </div>

        <div>
            <button class="btn btn-primary w-50 text-left" data-toggle="collapse" data-target="#collapseThree">Lead Management</button>
            <div id="collapseThree" class="collapse in">
                <p><a href="#">About</a></p>
                <p><a href="#">Adding Leads</a></p>
                <p><a href="#">Removing Leads</a></p>
                <p><a href="#">Editing Leads</a></p>
            </div>
        </div>

        <div>
            <button class="btn btn-primary w-50 text-left" data-toggle="collapse" data-target="#collapseFour">Task Management</button>
            <div id="collapseFour" class="collapse in">
                <p><a href="#">About</a></p>
                <p><a href="#">Creating tasks</a></p>
                <p><a href="#">Closing tasks</a></p>
            </div>
        </div>

        <div>
            <button class="btn btn-primary w-50 text-left" data-toggle="collapse" data-target="#collapseFive">Reports</button>
            <div id="collapseFive" class="collapse in">
                <p><a href="#">About</a></p>
                <p><a href="#">Team Reports</a></p>
                <p><a href="#">Lead Reports</a></p>
                <p><a href="#">Exporting Reports</a></p>
                <p><a href="#">Filtering reports</a></p>
            </div>
        </div>

        <div>
            <button class="btn btn-primary w-50 text-left" data-toggle="collapse" data-target="#collapseSix">Form Management</button>
            <div id="collapseSix" class="collapse in">
                <p><a href="#">About Forms</a></p>
                <p><a href="#">Updating Defaults</a></p>
            </div>
        </div>

        <div>
            <button class="btn btn-primary w-50 text-left" data-toggle="collapse" data-target="#collapseSeven">Using App</button>
            <div id="collapseSeven" class="collapse in">
                <p><a href="#">About App</a></p>
                <p><a href="#">Viewing tasks</a></p>
                <p><a href="#">Submitting Forms</a></p>
                <p><a href="#">Optimize Route</a></p>
            </div>
        </div>
    </div>