<!-- HomePage -->

<div class="home d-flex flex-column">
    <div class="d-flex justify-content-end home-header navbar-fixed-top">
            <a class="a-white mr-auto" href="#">
                <img class="home-header-logo m-2 align-self-center" src="../images/logo.png">Navimate
            </a>
            <button class="nav-btn" ng-click="register()">Register</button>
            <button class="nav-btn" ng-click="login()">Login</button>
    </div>

    <div class="home-content full-flex">
        Feature List Goes Here
    </div>

    <div class="d-flex flex-column home-footer pt-2">
        <div class="d-flex justify-content-around text-center"> <!-- Container for all links -->
            <div class="d-flex flex-column">
                <h4 class="text-uppercase">Navimate</h4>
                <a class="a-white" href="#">Features</a>
                <a class="a-white" href="#">Download</a>
                <a class="a-white" href="#">Legal</a>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-uppercase">Download</h4>
                <a class="a-white" href="#">Android</a>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-uppercase">Presence</h4>
                <a class="a-white" href="#">Twitter</a>
                <a class="a-white" href="#">Facebook</a>
                <a class="a-white" href="#">LinkedIn</a>
            </div>
        </div>

        <div class="copyright-notice p-2 mt-2">  <!-- Container for copyright -->
            <h6 class="text-muted">2017 © Walestone Solutions Pvt. Ltd.</h6>
        </div>
    </div>
</div>