<!-- HomePage -->

<div class="home d-flex flex-column">
    <div class="d-flex justify-content-end bg-black navbar-fixed-top">
            <a class="a-white mr-auto" href="#">
                <img class="ib-base ib-l m-2 align-self-center" src="/static/images/ic_logo.png">Navimate
            </a>
            <button class="nav-btn nav-tab-btn" ng-click="register()">Register</button>
            <button class="nav-btn nav-tab-btn" ng-click="login()">Login</button>
    </div>

    <div class="bg-primary-blue flex-1">

        <div class="flex-1 d-flex flex-column align-items-center p-5">
            <!-- Features Header -->
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column w-25">
                    <h4>A simple mobile sales CRM with navigation, task management, and live activity tracking</h4>
                    <a class="a-white" href ng-click="downloadApp()">
                        <img class="img-icon" src="/static/images/android-logo.png">
                        <strong>Android</strong>
                    </a>
                </div>
                <img class="home-image" src="/static/images/home_header.png">
            </div>

            <!-- Features Content -->
            <div class="features" id="div_feature">
                <div class="d-flex flex-column">

                    <!-- Features Row 1 -->
                    <div class="d-flex">
                        <div class="ft-box ft-box-grey-blue">
                            <div class="d-flex flex-column text-center text-white">
                                <h2>TRACKING</h2>
                                <h6>With Navimate, you can track anyone in real-time. Ensure their safety without violating their privacy with the app's transparent controls.</h6>
                            </div>
                        </div>
                        <div class="ft-box ft-box-white">
                            <div class="d-flex flex-column text-center">
                                <h2>LOCATION ALARMS</h2>
                                <h6>Navimate lets you set location based alarms. Work, play, read or sleep and let us worry about the nearing destination.</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Features Row 2 -->
                    <div class="d-flex justify-content-around">
                        <div class="ft-box ft-box-grey-blue">
                            <div class="d-flex flex-column text-center text-white">
                                <h2>NAVIGATE OFFLINE</h2>
                                <h6>Save, share & view custom routes with your friends. Navigate without ever needing the internet.</h6>
                            </div>
                        </div>
                        <div class="ft-box ft-box-white">
                            <div class="d-flex flex-column text-center">
                                <h2>MARK THE MAP</h2>
                                <h6>Save locations all across the globe with a custom name. Attach useful information to the location.</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Features Row 3 -->
                    <div class="d-flex justify-content-around">
                        <div class="ft-box ft-box-grey-blue">
                            <div class="d-flex flex-column text-center text-white">
                                <h2>SIMPLE USER INTERFACE</h2>
                                <h6>Experience an easy-to-use UI with a smooth response.</h6>
                            </div>
                        </div>
                        <div class="ft-box ft-box-white">
                            <div class="d-flex flex-column text-center">
                                <h2>MORE...</h2>
                                <h6>Pick a location and do so much more with it.</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button class="btn-outline p-4 mt-3 text-uppercase" id="btn_explore" ng-click="register()">Create your free account now</button>
        </div>
    </div>

    <div class="d-flex flex-column bg-black">
        <div class="d-flex justify-content-around text-center p-2">
            <div class="d-flex flex-column">
                <h4 class="text-uppercase">Navimate</h4>
                <a class="a-white" href ng-click="#">Features</a>
                <a class="a-white" ui-sref="legal">Legal</a>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-uppercase">Download</h4>
                <a class="a-white" href ng-click="downloadApp()">Android</a>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-uppercase">Presence</h4>
                <a class="a-white" href ng-click="facebook()">Facebook</a>
            </div>
        </div>

        <div class="copyright-notice p-2 mt-2">
            <h6 class="text-muted">2017 © Walestone Solutions Pvt. Ltd.</h6>
        </div>
    </div>
</div>
