<!-- HomePage -->
<div class="fbx-v align-items-center home p-3">
    <!-- Home Top -->
    <div class="fbx-h align-items-center w-100">
        <a href class="text-white" ng-click="vm.knowMore()">Wanna know more ?</a>
        <button class="bttn bttn-rounded ml-auto" ng-click="vm.btnClick()" ng-if="vm.isBtnVisible()">{{vm.getBtnText()}}</button>
    </div>

    <!-- Logo and Name -->
    <div class="fbx-h align-items-center mt-3">
        <div class="fbx-v align-items-center">
            <img class="ib-base ib-l" style="width: auto" ng-src="/static/images/ic_logo_text.png">
            <h5 class="text-bold text-white">Field Operations Made Easy</h5>
        </div>

        <img class="ib-base ib-xl ml-2" ng-src="/static/images/ic_logo_white.png">
    </div>

    <!-- UI View for Login / Register UI -->
    <div class="pos-r fbx-h flex-1 w-100">
        <div class="fbx-v fbx-center-children w-100 h-100 anim-slide" ui-view></div>
    </div>
</div>