<!-- HTML template for Login -->
<form class="fbx-v w-50" ng-submit="vm.forgotPassword()" ng-if="!vm.bWaiting">
    <!-- Go Back Button -->
    <a ui-sref="home.login" class="text-white"><< Go Back</a>

    <!-- Input elements for credentials -->
    <input-ul type="text" model="vm.email" label="EMAIL ADDRESS"
              b-show-error="vm.bInputError" err="vm.emailErr()"></input-ul>

    <!-- Description -->
    <span class="text-white text-right">
        Enter your email to receive the password
    </span>

    <!-- Send button -->
    <button class="align-self-center mt-3 bttn bttn-rounded" ng-click="vm.forgotPassword()">Send</button>

    <!-- Hidden input element to handle 'Enter' key -->
    <input type="submit" class="hidden-element"/>
</form>

<!-- Waiting Spinner -->
<loading msg="Sending Email..." b-white="true" ng-if="vm.bWaiting"></loading>