<!-- Company Settings HTML -->
<div class="d-flex flex-column p-4">
    <div>
        <span class="text-bold">Company : </span>
        <span>{{$ctrl.companyName}}</span>
    </div>
    <div>
        <span class="text-bold">API Key : </span>
        <span>{{$ctrl.apiKey}}</span>
    </div>
    <span class="centered mt-2">Set the Working Hours</span>
    <div class="d-flex align-items-center ml-2">
        <span>Start Time</span>
        <button type="button" class="btn" ng-click="$ctrl.decrementStartHr()">
            -
        </button>
        <span>{{$ctrl.startHr + ": 00"}}</span>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.incrementStartHr()">
            +
        </button>
    </div>
    <div class="d-flex align-items-center  ml-2">
        <span>End Time</span>
        <button type="button" class="btn" ng-click="$ctrl.decrementEndHr()">
            -
        </button>
        <span>{{$ctrl.endHr + ": 00"}}</span>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.incrementEndHr()">
            +
        </button>
    </div>
</div>
<div>
    <button class="btn btn-primary ml-4" ng-click="$ctrl.update()">Update</button>
</div>