<!-- Company Settings HTML -->

<div class="d-flex flex-column p-4">
    <div class="fbx-v fbx-center-children">
        <image-picker image="{{$ctrl.image}}" image-picked="$ctrl.uploadCompanyIcon(file)"></image-picker>
        <br>
        <span class="text-bold text-blue d-flex justify-content-center">{{$ctrl.companyName}}</span>
    </div>
    <hr class="w-100">
    <div class="fbx-h justify-content-around">
        <div class="fbx-v justify-content-center">
            <div class="fbx-v">
                <span class="text-label">Company size</span>
                <span class="ml-2">{{$ctrl.companySize}}</span>
            </div>
            <br>
            <div class="fbx-v">
                <span class="text-label">API Key</span>
                <span class="ml-2">{{$ctrl.apiKey}}</span>
            </div>
        </div>
        <div class="fbx-v">
            <span class="text-label">Working Hours</span>
            <div class="fbx-h align-items-center ml-2">
                <span>Day Start</span>
                <span>
                    <md-time-picker class="w-100" ng-model="$ctrl.dayStart" message="vm.message" no-auto-switch no-meridiem></md-time-picker>
                </span>
            </div>
            <div class="fbx-h align-items-center  ml-2">
                <span>Day End</span>
                <span class="ml-2">
                    <md-time-picker class="w-100" ng-model="$ctrl.dayEnd" message="vm.message" no-auto-switch no-meridiem></md-time-picker>
                </span>
            </div><br>
            <button class="align-self-center btn-shiny ml-4" ng-click="$ctrl.update()">Update</button>
        </div>
    </div>
</div>
