<!-- Lead Manage HTML -->
<div class="content-toolbar">
    <js-xls onread="excelRead" onerror="excelError"></js-xls>
</div>

<div class="content-data">
    <table class="table table-striped" ng-table="">
        <thead>
        <th>
            Company
        </th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        </thead>
        <tr ng-repeat="lead in leads">
            <td class="text-center">
                {{lead.company}}
            </td>
            <td class="text-center">
                {{lead.name}}
            </td>
            <td class="text-center">
                {{lead.phoneNumber}}
            </td>
        </tr>
    </table>
</div>