<!-- Lead Manage HTML -->
<div class="d-flex align-items-center p-2 flex-wrap">
    <imagebutton image="/static/images/ic_add_white.png" text="Add" ng-click="$ctrl.add()" ng-if="!$root.isCC()"></imagebutton>
    <imagebutton image="/static/images/ic_sync_white.png" text="Sync" ng-click="$ctrl.sync()"></imagebutton>
    <imagebutton image="/static/images/ic_reset_white.png" text="Reset" ng-click="$ctrl.reset()"></imagebutton>
    <imagebutton image="/static/images/ic_customize_table_white.png" text="Columns" ng-click="$ctrl.toggleColumns()"
                 counter="$ctrl.table.columns.length - $ctrl.table.getVisibleColumns().length" ></imagebutton>
    <imagebutton image="/static/images/ic_export_white.png" text="Export" ng-click="$ctrl.export()"></imagebutton>
    <ib-filepicker image="/static/images/ic_import_white.png" text="Import" file-picked="$ctrl.import(file)" ng-if="!$root.isCC()"></ib-filepicker>

    <div class="dropdown"  ng-if="!$root.isCC()">
        <button class="btn-shiny d-flex justify-content-around align-items-center" data-toggle="dropdown"
                ng-disabled="!$ctrl.table.selection.length">
            <span>Actions</span>
            <img class="img-icon ml-2" src="/static/images/ic_dropdown_light.png"/>
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" ng-click="$ctrl.edit()">Edit</button>
            <button class="dropdown-item" ng-click="$ctrl.remove()">Remove</button>
        </div>
    </div>
</div>

<ng-include src="'/static/views/modules/Table2.html'" class="d-flex flex-1"></ng-include>