<!-- Lead Report HTML -->
<div class="content-toolbar d-flex">
    <button class="btn btn-primary">Clear Filters</button>
    <button class="btn btn-primary" ng-click="export()">Export</button>
    <button class="btn btn-primary">Sync</button>
</div>

<div class="content-data full-flex">
    <table class="lead-report-table table table-bordered" ng-table="">
        <thead>
            <th class="table-col-sm">
                #
            </th>
            <th class="table-col-md">
                <div class="dropdown dropdown-multiselect">
                    <button class="dropdown-toggle-button-table d-flex w-100">
                        <span class="full-flex">Lead</span>
                        <img class="img-icon" src="../../static/images/icon_filter.png"/>
                    </button>
                    <div class="dropdown-menu p-2">
                        <span>Sort:</span>
                        <div class="d-flex justify-content-center">
                            <input type="button" value="" class="image-button ib-sort-down" ng-click="filterSort('lead', false)"
                                   ng-class="{'active' : filter.sort.indexOf('lead') != -1}"/>
                            <input type="button" value="" class="image-button ib-sort-up" ng-click="filterSort('lead', true)"
                                   ng-class="{'active' : filter.sort.indexOf('-lead') != -1}"/>
                        </div>
                        <span>Select:</span>
                        <input type="text" ng-model="leadFilterSearch" placeholder="Search...">
                        <div ng-repeat="row in report | unique: 'lead' | filter:leadFilterSearch">
                            <input type="checkbox" ng-click="filterSelect('lead', row.lead)" ng-checked="filter.lead.selection.indexOf(row.lead) == -1"/> {{row.lead}}
                        </div>
                    </div>
                </div>
            </th>
            <th class="table-col-lg">
                <div class="dropdown dropdown-multiselect">
                    <button class="dropdown-toggle-button-table d-flex w-100">
                        <span class="full-flex">Rep</span>
                        <img class="img-icon" src="../../static/images/icon_filter.png"/>
                    </button>
                    <div class="dropdown-menu p-2">
                        <span>Sort:</span>
                        <div class="d-flex justify-content-center">
                            <input type="button" value="" class="image-button ib-sort-down" ng-click="filterSort('rep', false)"
                                   ng-class="{'active' : filter.sort.indexOf('rep') != -1}"/>
                            <input type="button" value="" class="image-button ib-sort-up" ng-click="filterSort('rep', true)"
                                   ng-class="{'active' : filter.sort.indexOf('-rep') != -1}"/>
                        </div>
                        <span>Select:</span>
                        <input type="text" ng-model="repFilterSearch" placeholder="Search...">
                        <div ng-repeat="row in report | unique: 'rep' | filter:repFilterSearch">
                            <input type="checkbox" ng-click="filterSelect('rep', row.rep)" ng-checked="filter.rep.selection.indexOf(row.rep) == -1"/> {{row.rep}}
                        </div>
                    </div>
                </div>
            </th>
            <th class="table-col-sm">
                <div class="dropdown dropdown-multiselect">
                    <button class="dropdown-toggle-button-table d-flex w-100">
                        <span class="full-flex">Sales</span>
                        <img class="img-icon" src="../../static/images/icon_filter.png"/>
                    </button>
                    <div class="dropdown-menu p-2">
                        <span>Sort:</span>
                        <div class="d-flex justify-content-center">
                            <input type="button" value="" class="image-button ib-sort-down" ng-click="filterSort('sales', false)"
                                   ng-class="{'active' : filter.sort.indexOf('sales') != -1}"/>
                            <input type="button" value="" class="image-button ib-sort-up" ng-click="filterSort('sales', true)"
                                   ng-class="{'active' : filter.sort.indexOf('-sales') != -1}"/>
                        </div>
                    </div>
                </div>
            </th>
            <th class="table-col-sm">
                <div class="dropdown dropdown-multiselect">
                    <button class="dropdown-toggle-button-table d-flex w-100">
                        <span class="full-flex">Status</span>
                        <img class="img-icon" src="../../static/images/icon_filter.png"/>
                    </button>
                    <div class="dropdown-menu p-2">
                        <span>Sort:</span>
                        <div class="d-flex justify-content-center">
                            <input type="button" value="" class="image-button ib-sort-down" ng-click="filterSort('status', false)"
                                   ng-class="{'active' : filter.sort.indexOf('status') != -1}"/>
                            <input type="button" value="" class="image-button ib-sort-up" ng-click="filterSort('status', true)"
                                   ng-class="{'active' : filter.sort.indexOf('-status') != -1}"/>
                        </div>
                        <span>Select:</span>
                        <input type="text" ng-model="statusFilterSearch" placeholder="Search...">
                        <div ng-repeat="row in report | unique: 'status' | filter:statusFilterSearch">
                            <input type="checkbox" ng-click="filterSelect('status', row.status)" ng-checked="filter.status.selection.indexOf(row.status) == -1"/> {{row.status}}
                        </div>
                    </div>
                </div>
            </th>
            <th class="table-col-lg">
                <div class="dropdown dropdown-multiselect">
                    <button class="dropdown-toggle-button-table d-flex w-100">
                        <span class="full-flex">Notes</span>
                        <img class="img-icon" src="../../static/images/icon_filter.png"/>
                    </button>
                    <div class="dropdown-menu p-2">
                        <input type="text" placeholder="Search Notes..." ng-model-options="{debounce: 500}"
                               ng-model="filter.notes.search" ng-change="applyFilters()">
                    </div>
                </div>
            </th>
            <th class="table-col-md">
                <div class="dropdown dropdown-multiselect">
                    <button class="dropdown-toggle-button-table d-flex w-100">
                        <span class="full-flex">Date</span>
                        <img class="img-icon" src="../../static/images/icon_filter.png"/>
                    </button>
                    <div class="dropdown-menu p-2">
                        <span>Sort:</span>
                        <div class="d-flex justify-content-center">
                            <input type="button" value="" class="image-button ib-sort-down" ng-click="filterSort('date', false)"
                                   ng-class="{'active' : filter.sort.indexOf('date') != -1}"/>
                            <input type="button" value="" class="image-button ib-sort-up" ng-click="filterSort('date', true)"
                                   ng-class="{'active' : filter.sort.indexOf('-date') != -1}"/>
                        </div>
                    </div>
                </div>
            </th>
        </thead>
        <tr ng-repeat="row in filteredReport">
            <td class="table-col-sm">
                {{$index + 1}}
            </td>
            <td class="table-col-md">
                {{row.lead}}
            </td>
            <td class="table-col-lg">
                {{row.rep}}
            </td>
            <td  class="table-col-sm">
                {{row.sales}}
            </td>
            <td class="table-col-sm">
                {{row.status}}
            </td>
            <td class="table-col-lg">
                {{row.notes}}
            </td>
            <td class="table-col-md">
                {{row.date}}
            </td>
        </tr>
    </table>
</div>