<!-- Form Manage HTML -->
<div class="content-data full-flex">
    <table class="table table-striped" ng-table="">
        <thead>
        <th>
            Name
        </th>
        <th>
            Actions
        </th>
        </thead>
        <tr ng-repeat="form in forms">
            <td class="text-center">
                {{form.name}}
            </td>
            <td>
                <input type="image" class="img-icon" src="../../static/images/edit.png" ng-click="edit(form)" title="Edit">
            </td>
        </tr>
    </table>
</div>