<!-- Form Manage HTML -->
<div class="content-toolbar d-flex">
    <button class="btn btn-primary" ng-click="create()">Create Template</button>
</div>

<div class="content-data full-flex">
    <table class="table table-striped" ng-table="">
        <thead>
        <th>
            Name
        </th>
        <th>
            Actions
        </th>
        </thead>
        <tr ng-repeat="form in forms">
            <td class="text-center">
                {{form.name}}
            </td>
            <td>
                <input type="button" value="" class="image-button ib-small ib-edit" ng-click="edit(form)"/>
            </td>
        </tr>
    </table>
</div>