<!-- Form Manage HTML -->
<div class="content-data">
    <table class="table table-striped" ng-table="">
        <thead>
        <th>
            Name
        </th>
        <th>
            Data
        </th>
        <th>
            Actions
        </th>
        </thead>
        <tr ng-repeat="form in forms">
            <td class="text-center">
                {{form.name}}
            </td>
            <td class="text-center">
                {{form.data}}
            </td>
            <td>
                <button>View</button>
            </td>
        </tr>
    </table>
</div>