<!-- HTML template for Alert Dialog -->
<md-dialog class="dialog-container w-50">
    <div class="dialog-header">
        <h4><b>Add Rep</b></h4>
        <hr>
    </div>

    <div class="container-fluid d-flex">
        <div class="d-flex flex-column justify-content-around">
            <span>Name *</span>
            <span>Phone *</span>
            <span>Email</span>
        </div>
        <div class="d-flex flex-column flex-1">
            <input class="input-underlined" ng-class="{'has-error': bNameError}"  ng-model="name" type="text" placeholder="Enter name...">
            <div class="d-flex">
                <input class="input-underlined w-25 text-center" ng-model="countryCode" type="number" placeholder="91">
                <input class="input-underlined w-75" ng-class="{'has-error': bPhoneError}" ng-model="phoneNumber" type="number" placeholder="Enter mobile number...">
            </div>
            <input class="input-underlined" ng-model="email" type="text" placeholder="Enter email... (optional)">
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-end">
        <button class="btn btn-primary" ng-click="add()">Add</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</md-dialog>