<!-- HTML template for Change Password Dialog -->
<md-dialog class="dialog-container box box-dialog w-50">
    <div class="container-fluid">
        <h4><b>Change Password</b></h4>
        <hr>
    </div>

    <form class="d-flex flex-column" ng-submit="change()">
        <input class="input-underlined" ng-model="oldPassword" type="password" placeholder="Enter current password..."
               ng-class="{'has-error': bShowError && !oldPassword}">
        <input class="input-underlined" ng-model="newPassword" type="password" placeholder="Enter new password..."
               ng-class="{'has-error': bShowError && !newPassword}">
        <input class="input-underlined" ng-model="confirmPassword" type="password" placeholder="Confirm new password..."
               ng-class="{'has-error': bShowError && !confirmPassword}">
        <input type="submit" class="hidden-element"/>
    </form>

    <div class="container-fluid d-flex justify-content-end">
        <button class="btn-shiny" ng-click="change()">Change</button>
        <button class="btn-shiny" ng-click="close()">Close</button>
    </div>
</md-dialog>