<!-- HTML template for Alert Dialog -->
<md-dialog class="dialog-container h-100 w-100">
    <div class="d-flex w-100 h-100">
        <div class="w-25 p-2 d-flex flex-column">
            <h4><b>Edit Leads</b></h4>

            <div class="container-fluid d-flex flex-column flex-shrink-0">
                <button class="btn btn-primary" ng-click="add()">Add New</button>
                <div class="d-flex align-items-center">
                    <label for="file-upload" class="btn btn-primary full-flex">
                        Upload From File
                    </label>
                    <a href class="align-self-end" ng-click="uploadTemplate()">
                        <h6>Download<br>Template</h6>
                    </a>
                    <js-xls id="file-upload" class="hidden-element" onread="excelRead" onError="excelError" />
                </div>
            </div>

            <div class="lead-edit-box flex-shrink-0 p-2 d-flex flex-column">
                <input class="input-underlined" type="text"  placeholder="Enter Title..."
                       ng-model="selectedLead.title" ng-class="{'has-error': bShowError && !selectedLead.title}">
                <input class="input-underlined" type="text"  placeholder="Enter Description..."
                       ng-model="selectedLead.description">
                <input class="input-underlined" type="text"  placeholder="Enter phone number"
                       ng-model="selectedLead.phoneNumber" ng-class="{'has-error': bShowError && !selectedLead.phoneNumber}">
                <div class="dropdown d-flex">
                    <input class="input-underlined w-100" type="text"  placeholder="Search address..."
                           ng-model="selectedLead.address" ng-model-options="{debounce: 500}"
                           ng-class="{'has-error': bShowError && !(selectedLead.latitude && selectedLead.longitude && selectedLead.address)}"
                           ng-change="searchAddress()" data-toggle="dropdown">
                    <div class="dropdown-menu">
                        <p ng-show="(searchResults.length == 0) && !bSearchWaiting">Nothing to Show</p>
                        <p ng-show="bSearchWaiting">Waiting for results...</p>
                        <button class="dropdown-item" ng-repeat="searchResult in searchResults" ng-click="searchResultClick(searchResult)">{{searchResult.address}}</button>
                    </div>
                </div>
            </div>

            <div class="list-group p-1 mt-2 full-flex">
                <div href ng-repeat="lead in leads"
                     class="list-group-item list-group-item-action"
                     ng-class="{'list-group-item-danger': bShowError && !isLeadValid(lead),
                              'active': selectedLead == lead}"
                     ng-click="listItemClick(lead)">

                    <div class="d-flex align-items-center">
                        <span class="full-flex">
                            {{($index + 1) + ". " + lead.title}}
                        </span>

                        <input type="button" value="" class="image-button ib-small ib-cross" ng-click="remove(lead)"/>
                    </div>
                </div>
            </div>

            <div class="container-fluid d-flex justify-content-around flex-shrink-0">
                <button class="btn btn-primary full-flex" ng-click="save()">Save</button>
                <button class="btn full-flex" ng-click="cancel()">Cancel</button>
            </div>
        </div>

        <div class="lead-editor-map ml-2 full-flex" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAlTGdM8F8vrAcLW9dBaH-hPku8JJaFgu4">
            <ng-map class="full-width full-height"
                    center="{{mapCenter}}" zoom="{{mapZoom}}" map-initialized="mapInitialized(map)">
                <marker ng-repeat="lead in leads" icon="{{getMarkerIcon(lead)}}" title="{{lead.title}}"
                        position="[{{lead.latitude}}, {{lead.longitude}}]"
                        draggable="true" on-click="markerClicked(lead)" on-dragend="markerDragged(lead)"/>
            </ng-map>
            <div class="lead-editor-map-shadow"></div>
        </div>
    </div>
</md-dialog>