<!-- HTML template for Alert Dialog -->
<md-dialog class="dialog-container h-100 w-100">
    <div class="d-flex w-100 h-100">
        <div class="w-25 p-2 d-flex flex-column">
            <h4><b>Edit Leads</b></h4>

            <div class="container-fluid d-flex justify-content-around flex-shrink-0">
                <button class="btn btn-primary full-flex" ng-click="add()">Add New</button>
                <button class="btn btn-primary full-flex" ng-click="upload()">Upload File</button>
            </div>

            <div class="lead-edit-box flex-shrink-0 p-2 d-flex flex-column">
                <input class="input-underlined" type="text"  placeholder="Enter Company..."
                       ng-model="selectedLead.company" ng-class="{'has-error': bShowError && !selectedLead.company}">
                <input class="input-underlined" type="text"  placeholder="Enter Name..."
                       ng-model="selectedLead.name" ng-class="{'has-error': bShowError && !selectedLead.name}">
                <input class="input-underlined" type="text"  placeholder="Enter phone number"
                       ng-model="selectedLead.phoneNumber" ng-class="{'has-error': bShowError && !selectedLead.phoneNumber}">
                <input class="input-underlined" type="text"  placeholder="Enter address..."
                       ng-model="selectedLead.address" ng-class="{'has-error': bShowError && !(selectedLead.latitude && selectedLead.longitude && selectedLead.address)}">
            </div>

            <div class="list-group p-1 mt-2 full-flex">
                <a href ng-repeat="lead in leads"
                   class="list-group-item list-group-item-action"
                   ng-class="{'list-group-item-danger': bShowError && !isLeadValid(lead),
                              'active': selectedLead == lead}"
                   ng-click="listItemClick(lead)">
                    {{($index + 1) + ". " + lead.company}}
                </a>
            </div>

            <div class="container-fluid d-flex justify-content-around flex-shrink-0">
                <button class="btn btn-primary full-flex" ng-click="save()">Save</button>
                <button class="btn full-flex" ng-click="cancel()">Cancel</button>
            </div>
        </div>

        <div class="lead-editor-map ml-2 full-flex" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAlTGdM8F8vrAcLW9dBaH-hPku8JJaFgu4">
            <ng-map class="full-width full-height"
                    center="[41, 87]" zoom="4">
            </ng-map>
            <div class="lead-editor-map-shadow"></div>
        </div>
    </div>
</md-dialog>