<!-- HTML template for Live Tracking Dialog -->
<md-dialog class="dialog-container box box-dialog h-100 w-100">
    <div class="d-flex oriented-flexbox w-100 h-100">
        <div class="flex-2 d-flex flex-column">
            <h4><b>Live Tracking</b></h4>
            <!-- Control Buttons -->
            <div class="container-fluid d-flex justify-content-around">
                <button class="btn btn-primary" ng-click="$ctrl.refreshAll()">Refresh</button>
                <button class="btn" ng-click="$ctrl.close()">Cancel</button>
            </div>

            <!-- Rep List -->
            <div class="list-group list-group-bordered p-1 mt-1 flex-1 overflow-auto">
                <div ng-repeat="rep in $ctrl.reps" ng-click="$ctrl.listItemClick($index)"
                     class="list-group-item list-group-item-action" ng-class="{'active': $ctrl.selectedRep == rep}">

                    <!-- Basic rep info -->
                    <div class="d-flex align-items-center">
                        <div class="bg-status"
                             ng-class="{'bg-status-yellow':     (rep.status == $root.Constants.Tracking.ERROR_NO_UPDATES ||
                                                                 rep.status == $root.Constants.Tracking.ERROR_WAITING),
                                        'bg-status-red':        (rep.status == $root.Constants.Tracking.ERROR_OFFLINE),
                                        'bg-status-orange':     (rep.status == $root.Constants.Tracking.ERROR_NO_GPS ||
                                                                 rep.status == $root.Constants.Tracking.ERROR_NO_PERMISSION)}"></div>
                        <span class="flex-1 ml-2">
                             {{rep.name}}
                         </span>
                        <loader class="ml-2" ng-if="rep.status == $root.Constants.Tracking.ERROR_WAITING">
                        </loader>
                    </div>

                    <!-- Tracking info becomes visible on click -->
                    <div ng-show="$ctrl.selectedRep == rep">
                        <div ng-show="rep.status == $root.Constants.Tracking.ERROR_NONE">
                            <p>Updated {{$root.Statics.getFormattedElapsedTime(rep.lastUpdateTimeMs)}} ago...</p>
                        </div>
                        <div ng-show="rep.status == $root.Constants.Tracking.ERROR_IDLE">
                            <p>Idle since last {{$root.Statics.getFormattedElapsedTime(rep.lastUpdateTimeMs)}}...</p>
                        </div>
                        <div ng-show="rep.status == $root.Constants.Tracking.ERROR_NO_UPDATES">
                            <p>Trying to retrieve location since last {{$root.Statics.getFormattedElapsedTime(rep.lastUpdateTimeMs)}} !!!</p>
                        </div>
                        <div ng-show="rep.status == $root.Constants.Tracking.ERROR_OFFLINE">
                            <p>User is offline. Possible reasons :</p>
                            <ol>
                                <li>Phone is switched OFF</li>
                                <li>App is not running</li>
                                <li>Internet is not available in phone</li>
                            </ol>
                        </div>
                        <div ng-show="rep.status == $root.Constants.Tracking.ERROR_NO_GPS">
                            <p>User disabled his GPS {{$root.Statics.getFormattedElapsedTime(rep.lastUpdateTimeMs)}} ago !!!</p>
                        </div>
                        <div ng-show="rep.status == $root.Constants.Tracking.ERROR_NO_PERMISSION">
                            <p>User has not provided location permission !!!</p>
                        </div>
                        <div ng-show="rep.status == $root.Constants.Tracking.ERROR_WAITING">
                            <p>Trying to retrieve user location. This may take few minutes...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include Map View -->
        <ng-include class="ml-2 flex-3" src="'/static/views/modules/Map.html'"></ng-include>
    </div>
</md-dialog>