<!-- HTML template for Live Tracking Dialog -->
<md-dialog class="dialog-container h-100 w-100">
    <div class="d-flex w-100 h-100">
        <div class="w-25 d-flex flex-column">
            <h4><b>Live Tracking</b></h4>
            <div class="list-group p-1 mt-2 full-flex">
                <div href ng-repeat="trackee in trackees" ng-click="listItemClick(trackee)"
                     class="list-group-item list-group-item-action"
                     ng-class="{'active': selectedTrackee == trackee}">
                     <div class="d-flex align-items-center">
                         <div class="img-icon live-status-default m-2"
                              ng-class="{'live-status-waiting': (trackee.status == $root.Constants.Tracking.STATUS_WAITING),
                                         'live-status-active': (trackee.status == $root.Constants.Tracking.STATUS_AVAILABLE)}"></div>
                         <span class="full-flex">
                             {{trackee.name}}
                         </span>
                         <span class="ml-auto">
                             {{trackee.phone}}
                         </span>
                         <span class="waiting-spinner waiting-spinner-small ml-2"
                               ng-show="trackee.status == $root.Constants.Tracking.STATUS_WAITING"></span>
                     </div>
                     <div ng-show="selectedTrackee == trackee">
                         <div ng-show="trackee.status == $root.Constants.Tracking.STATUS_AVAILABLE">
                             <p>Speed: {{trackee.speed}} km/hr</p>
                             <p>Last Updated: {{trackee.lastUpdated}} seconds ago</p>
                         </div>
                         <div ng-show="trackee.status == $root.Constants.Tracking.STATUS_UNAVAILABLE">
                             <p>Location is unavailable for this member. Possible issues :</p>
                             <ol>
                                 <li>Phone is switched OFF</li>
                                 <li>App is not running</li>
                                 <li>Internet is not available in phone</li>
                                 <li>Location has been disabled</li>
                             </ol>
                         </div>
                         <div ng-show="trackee.status == $root.Constants.Tracking.STATUS_WAITING">
                             <p>Waiting for user's location</p>
                         </div>
                     </div>
                </div>
            </div>
            <div class="container-fluid d-flex justify-content-around flex-shrink-0">
                <button class="btn full-flex" ng-click="refreshReps()">Refresh</button>
                <button class="btn full-flex" ng-click="cancel()">Cancel</button>
            </div>
        </div>

        <div class="map-box ml-2 full-flex" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAlTGdM8F8vrAcLW9dBaH-hPku8JJaFgu4">
            <ng-map class="full-width full-height"
                    center="{{mapCenter}}" zoom="{{mapZoom}}" map-initialized="mapInitialized(map)">
                <marker ng-repeat="trackee in trackees" icon="{{getMarkerIcon(trackee)}}" title="{{trackee.name}}"
                        position="[{{trackee.latitude}}, {{trackee.longitude}}]"/>
            </ng-map>
            <div class="map-box-shadow"></div>
        </div>
    </div>
</md-dialog>