<!-- HTML template for Live Tracking Dialog -->
<md-dialog class="dialog-container box box-dialog h-100 w-100">
    <div class="d-flex oriented-flexbox w-100 h-100">
        <div class="flex-2 d-flex flex-column">
            <h4><b>Live Tracking</b></h4>
            <!-- Control Buttons -->
            <div class="container-fluid d-flex justify-content-around">
                <button class="btn-shiny" ng-click="$ctrl.refreshAll()">Refresh</button>
                <button class="btn-shiny" ng-click="$ctrl.close()">Cancel</button>
            </div>

            <!-- Rep List -->
            <div class="list-group list-group-bordered p-1 mt-1 flex-1 overflow-auto">
                <div ng-repeat="rep in $ctrl.reps" ng-click="$ctrl.listItemClick($index)"
                     class="list-group-item list-group-item-action" ng-class="{'active': $ctrl.selectedRep == rep}">

                    <!-- Basic rep info -->
                    <div class="d-flex align-items-center">
                        <div class="bg-status"
                             ng-class="{'bg-status-yellow':     (rep.status == $root.Constants.Tracking.ERROR_WAITING),
                                        'bg-status-red':        (rep.status == $root.Constants.Tracking.ERROR_OFFLINE),
                                        'bg-status-orange':     (rep.status == $root.Constants.Tracking.ERROR_NO_GPS ||
                                                                 rep.status == $root.Constants.Tracking.ERROR_NO_PERMISSION ||
                                                                 rep.status == $root.Constants.Tracking.ERROR_NO_UPDATES)}"></div>
                        <span class="flex-1 ml-2">
                             {{rep.name}}
                         </span>
                        <loader class="ml-2" ng-if="rep.status == $root.Constants.Tracking.ERROR_WAITING">
                        </loader>
                    </div>

                    <!-- Tracking info becomes visible on click -->
                    <div ng-if="$ctrl.selectedRep == rep" class="fbx-h justify-content-between">
                        <!-- Status Message -->
                        <span class="text-bold">
                            {{$root.Constants.Tracking.STATUS_MESSAGES[rep.status]}}
                        </span>

                        <!-- Last Updated time period -->
                        <span class="text-italic" ng-if="rep.lastUpdateTimeMs">
                            Updated {{$root.Statics.getFormattedElapsedTime(rep.lastUpdateTimeMs)}} ago...
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include Map View -->
        <nv-map class="m-2 flex-3" obj-map="$ctrl.map" on-marker-click="$ctrl.onMarkerClick(idx)"></nv-map>
    </div>
</md-dialog>