<!-- HTML template for Alert Dialog -->
<md-dialog class="dialog-container w-50">
    <div class="container-fluid">
        <h4><b>Login</b></h4>
        <hr>
    </div>

    <form class="d-flex flex-column" ng-submit="login()">
        <a href class="align-self-end" ng-click="register()">Register Now</a>
        <input class="input-underlined" ng-model="email" type="text" placeholder="Enter your email..."
               ng-class="{'has-error': bShowError && !email}">
        <input class="input-underlined" ng-model="password" type="password" placeholder="Enter password..."
               ng-class="{'has-error': bShowError && !password}">
        <input type="submit" class="hidden-element"/>
    </form>

    <div class="container-fluid d-flex justify-content-end">
        <button class="btn btn-primary" ng-click="login()">Login</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</md-dialog>