
<md-dialog class="dialog-container box box-dialog py-3 px-5 w-50 h-75">
    <!-- Main container for user information -->
    <div class="fbx-v h-100">
        <!-- Dialog Title -->
        <h4><b>{{vm.obj.name}}</b></h4>

        <!-- Error / Waiting UI -->
        <div ng-if="vm.bLoading || vm.bLoadError" class="align-self-center">
            <!-- Waiting Spinner -->
            <div class="fbx-h fbx-center-children" ng-if="vm.bLoading">
                <loader></loader>
                <h4 class="ml-1 text-grey">Loading...</h4>
            </div>

            <!-- Error UI -->
            <div class="fbx-h fbx-center-children" ng-if="vm.bLoadError">
                <img src="/static/images/ic_smiley_sad.png">
                <h4 class="ml-1 text-grey">Could not get data...</h4>
            </div>
        </div>

        <!-- Dialog Content -->
        <div class="fbx-v flex-1 overflow-auto mt-2 dialog-editor-content" ng-if="!vm.bLoading && !vm.bLoadError">
            <!-- Name -->
            <text-box class="mr-4" label="Product" text="{{vm.obj.name}}"></text-box>

            <!-- ID -->
            <text-box class="mr-4" label="ID" text="{{vm.obj.productId}}"></text-box>

            <!-- Template Name -->
            <text-box class="mr-4 mt-2" label="Template" text="{{vm.obj.template.name}}"></text-box>

            <!-- Template Params -->
            <template-values-viewer class="mt-2 px-2" values="vm.obj.values"></template-values-viewer>
        </div>

        <!-- Close Buttons -->
        <button class="btn-shiny align-self-end" ng-click="vm.close()">Close</button>
    </div>
</md-dialog>