<!-- HTML template for Register Dialog -->
<md-dialog class="dialog-container box box-dialog w-50">
    <div class="container-fluid">
        <h4><b>Register</b></h4>
        <hr>
    </div>

    <form class="d-flex flex-column" ng-submit="register()">
        <dropdown class="align-self-end w-25" text="regInfo.role.name" items="roles" on-select="regInfo.role = roles[idx]"></dropdown>

        <input class="input-underlined" ng-model="regInfo.name" type="text" placeholder="Enter your name..."
               ng-class="{'has-error': bShowError && !regInfo.name}">
        <input class="input-underlined" ng-model="regInfo.companyName" type="text" placeholder="Enter company name..."
               ng-class="{'has-error': bShowError && !regInfo.companyName}">
        <input class="input-underlined" ng-model="regInfo.email" type="text" placeholder="Enter email..."
               ng-class="{'has-error': bShowError && !regInfo.email}">
        <input class="input-underlined" ng-model="regInfo.password" type="password" placeholder="Enter password..."
               ng-class="{'has-error': bShowError && !regInfo.password}">
        <input class="input-underlined" ng-model="confirmPassword" type="password" placeholder="Confirm password..."
               ng-class="{'has-error': bShowError && !confirmPassword}">
        <input type="submit" class="hidden-element"/>
    </form>

    <div class="container-fluid d-flex justify-content-end">
        <button class="btn-shiny" ng-click="register()">Register</button>
        <button class="btn-shiny" ng-click="cancel()">Cancel</button>
    </div>
</md-dialog>