
<md-dialog class="dialog-container box box-dialog py-3 px-5 w-50 h-75">
    <!-- Main container for user information -->
    <div class="fbx-v h-100">
        <!-- Dialog Title -->
        <h4><b>{{"Task: " + vm.obj.id}}</b></h4>

        <!-- Error / Waiting UI -->
        <div ng-if="vm.bLoading || vm.bLoadError" class="align-self-center">
            <!-- Waiting Spinner -->
            <div class="fbx-h fbx-center-children" ng-if="vm.bLoading">
                <loader></loader>
                <h4 class="ml-1 text-grey">Loading...</h4>
            </div>

            <!-- Error UI -->
            <div class="fbx-h fbx-center-children" ng-if="vm.bLoadError">
                <img src="/static/images/ic_smiley_sad.png">
                <h4 class="ml-1 text-grey">Could not get data...</h4>
            </div>
        </div>

        <!-- Dialog Content -->
        <div class="fbx-v flex-1 overflow-auto mt-2 dialog-editor-content" ng-if="!vm.bLoading && !vm.bLoadError">
            <!-- Id -->
            <text-box label="ID" text="{{vm.obj.id}}"></text-box>

            <div class="fbx-h mt-2">
                <!-- Lead -->
                <text-box class="mr-4" label="Lead" text="{{vm.obj.lead.name}}"></text-box>

                <!-- Representative -->
                <text-box class="mr-4" label="Representative" text="{{vm.obj.rep.name}}"></text-box>
            </div>

            <!-- Task Params -->
            <div class="fbx-h mt-2">
                <!-- Status -->
                <text-box class="mr-4" label="Status" text="{{$root.Constants.Task.STATUS_NAME[vm.obj.status]}}"></text-box>

                <!-- Period -->
                <text-box ng-if="obj.period > 0" label="Renew In (days)" text="{{vm.obj.period}}"></text-box>
            </div>

            <!-- Template Name -->
            <text-box class="mr-4 mt-2" label="Template" text="{{vm.obj.template.name}}"></text-box>

            <!-- Template Params -->
            <div class="fbx-h mt-2 flex-wrap">
                <!-- Template values -->
                <div ng-repeat="value in vm.obj.values" class="mr-4 mt-2">
                    <!-- Values with string display -->
                    <text-box label="{{value.field.title}}" text="{{value.getString()}}"></text-box>
                </div>
            </div>
        </div>

        <!-- Close Buttons -->
        <button class="btn align-self-end" ng-click="vm.close()">Close</button>
    </div>
</md-dialog>