<!-- HTML template for Task Creator Dialog -->
<md-dialog class="dialog-container dialog-task-creator d-flex flex-column">
    <div class="dialog-header">
        Create Tasks
        <hr>
    </div>

    <button class="btn btn-primary" ng-click="add()">Add Task</button>

    <div class="task-creator-table full-flex d-flex col-sm-12">
        <table class="table table-bordered" ng-table="">
            <thead>
                <tr class="row">
                    <th class="col-sm-1">
                        #
                    </th>
                    <th class="col-sm-4">
                        Company
                    </th>
                    <th class="col-sm-3">
                        Rep
                    </th>
                    <th class="col-sm-3">
                        Template
                    </th>
                    <th class="col-sm-1">
                    </th>
                </tr>
            </thead>
            <tr class="row" ng-repeat="task in tasks">
                <td class="text-center col-sm-1">
                    {{$index + 1}}
                </td>
                <td class="col-sm-4" ng-class="{'has-error': !task.lead && bShowError}">
                    <div class="dropdown full-width full-height">
                        <button class="dropdown-toggle-button d-flex" data-toggle="dropdown">
                            <span class="full-flex">{{task.lead.name}}</span>
                            <img src="../../static/images/icon_dropdown.png"/>
                        </button>
                        <div class="dropdown-menu full-width">
                            <input type="text" ng-model="leadFilter.name" placeholder="Search">
                            <button class="dropdown-item" ng-repeat="lead in leads | filter:leadFilter" ng-click="task.lead = lead">{{lead.name}}</button>
                        </div>
                    </div>
                </td>

                <td class="col-sm-3" ng-class="{'has-error': !task.rep && bShowError}">
                    <div class="dropdown full-width full-height">
                        <button class="dropdown-toggle-button d-flex" data-toggle="dropdown">
                            <span class="full-flex">{{task.rep.name}}</span>
                            <img src="../../static/images/icon_dropdown.png"/>
                        </button>
                        <div class="dropdown-menu full-width">
                            <input type="text" ng-model="repFilter.name" placeholder="Search">
                            <button class="dropdown-item" ng-repeat="rep in team | filter:repFilter" ng-click="task.rep = rep">{{rep.name}}</button>
                        </div>
                    </div>
                </td>

                <td class="col-sm-3" ng-class="{'has-error': !task.template && bShowError}">
                    <div class="dropdown full-width full-height">
                        <button class="dropdown-toggle-button d-flex" data-toggle="dropdown">
                            <span class="full-flex">{{task.template.name}}</span>
                            <img src="../../static/images/icon_dropdown.png"/>
                        </button>
                        <div class="dropdown-menu full-width">
                            <input type="text" ng-model="formFilter.name" placeholder="Search">
                            <button class="dropdown-item" ng-repeat="template in formTemplates | filter:formFilter" ng-click="task.template = template">{{template.name}}</button>
                        </div>
                    </div>
                </td>
                <td class="col-sm-1">
                    <input type="button" value="" class="image-button ib-bin" ng-click="remove(task)"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="d-flex justify-content-end dialog-buttons">
        <button class="btn btn-primary" ng-click="create()">Create</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</md-dialog>