<!-- HTML template for Task Creator Dialog -->
<md-dialog class="dialog-container dialog-task-creator">
    <div class="dialog-header">
        Create Tasks
        <hr>
    </div>

    <div class="dialog-content">
        <button class="button button-primary" ng-click="add()">Add Task</button>

        <table class="table table-striped" ng-table="">
            <thead>
            <th>
                Company
            </th>
            <th>
                Rep
            </th>
            <th>
                Template
            </th>
            </thead>
            <tr ng-repeat="task in tasks">
                <td class="text-center">
                    <select ng-model="task.lead.id" ng-options="lead.id as lead.company for lead in leads"/>
                </td>
                <td class="text-center">
                    <select ng-model="task.rep" ng-options="rep.name for rep in team"/>
                </td>
                <td class="text-center">
                    <select ng-model="task.template" ng-options="template.name for template in formTemplates"/>
                </td>
                <td>
                    <button ng-click="remove(task)">Remove</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="d-flex justify-content-end dialog-buttons">
        <button class="button button-primary" ng-click="create()">Create</button>
        <button class="button" ng-click="cancel()">Cancel</button>
    </div>
</md-dialog>