<!-- HTML template for Task Creator Dialog -->
<md-dialog class="dialog-container w-100 h-100">
    <div class="d-flex flex-column h-100 w-100">
        <div class="dialog-header">
            <h4><b>Task Editor</b></h4>
            <hr>
        </div>

        <a href class="ml-2" ng-click="add()">+ Add Task</a>
        <div class="list-group list-group-bordered p-1 mt-1 flex-1 overflow-auto" ng-if="!bError && !bWaiting">
            <div href ng-repeat="task in tasks" class="list-group-item list-group-item-action"
                 ng-class="{'active': selectedTask == task}" ng-click="selectedTask = task">

                <div class="d-flex align-items-center flex-wrap">
                    <span>
                        {{($index + 1) + "."}}
                    </span>

                    <div class="dropdown ml-1" ng-class="{'has-error': !task.leadId && bShowError}">
                        <button class="dropdown-toggle-button d-flex" data-toggle="dropdown" ng-disabled="task.id">
                            <span class="flex-1">Lead : {{$root.getLeadById(task.leadId).title}}</span>
                            <img src="/static/images/icon_dropdown.png"/>
                        </button>
                        <div class="dropdown-menu">
                            <input type="text" ng-model="leadFilter.title" placeholder="Search" class="input-underlined">
                            <button class="dropdown-item" ng-repeat="lead in leads | filter:leadFilter" ng-click="task.leadId = lead.id">{{lead.title}}</button>
                        </div>
                    </div>

                    <div class="dropdown ml-1" ng-class="{'has-error': !task.repId && bShowError}">
                        <button class="dropdown-toggle-button d-flex" data-toggle="dropdown">
                            <span class="flex-1">Rep : {{$root.getRepById(task.repId).name}}</span>
                            <img src="/static/images/icon_dropdown.png"/>
                        </button>
                        <div class="dropdown-menu">
                            <input type="text" ng-model="repFilter.name" placeholder="Search" class="input-underlined">
                            <button class="dropdown-item" ng-repeat="rep in team | filter:repFilter" ng-click="task.repId = rep.id">{{rep.name}}</button>
                        </div>
                    </div>

                    <div class="dropdown ml-1" ng-class="{'has-error': !task.formTemplateId && bShowError}">
                        <button class="dropdown-toggle-button d-flex" data-toggle="dropdown">
                            <span class="flex-1">Form Template : {{$root.getTemplateById(task.formTemplateId).name}}</span>
                            <img src="/static/images/icon_dropdown.png"/>
                        </button>
                        <div class="dropdown-menu">
                            <input type="text" ng-model="formFilter.name" placeholder="Search" class="input-underlined">
                            <button class="dropdown-item" ng-repeat="template in formTemplates | filter:formFilter" ng-click="task.formTemplateId = template.id">{{template.name}}</button>
                        </div>
                    </div>

                    <span class="ml-1">Renew In (days) : </span>
                    <input type="number" ng-model="task.period" value="0" class="input-underlined width-sm"
                           onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"/>

                    <input type="button" value="" class="ib-base ib-hover ib-cross" ng-click="remove(task)" ng-disabled="task.id"/>
                </div>

                <div class="d-flex flex-wrap align-items-center" ng-show="selectedTask == task">

                    <div class="dropdown align-self-start m-1 p-1 bdr-primary-light bdr-round">
                        <span class="d-flex dropdown-toggle-button justify-content-around align-items-center" data-toggle="dropdown">
                            <span>Task Template : {{$root.getTemplateById(task.templateId).name}}</span>
                            <img class="img-icon ml-2" src="/static/images/dropdown.png"/>
                        </span>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" ng-repeat="template in taskTemplates"
                                    ng-click="updateTemplate($parent.$index, $index)">{{template.name}}</button>
                        </div>
                    </div>

                    <div ng-repeat="value in task.templateData.values" class="p-1 m-1 bdr-primary-light bdr-round">

                        <!-- Text Field -->
                        <span ng-if="$root.getFieldById(value.fieldId).type == $root.Constants.Template.FIELD_TYPE_TEXT">
                                <span>{{$root.getFieldById(value.fieldId).title}}: </span>
                                <input  class="input-underlined" type="text"
                                        ng-model="task.templateData.values[$index].value"
                                        ng-class="{'input-white': selectedTask == task}">
                            </span>

                        <!-- Number Field -->
                        <span ng-if="$root.getFieldById(value.fieldId).type == $root.Constants.Template.FIELD_TYPE_NUMBER">
                            <span>{{$root.getFieldById(value.fieldId).title}}: </span>
                            <input  string-to-number class="input-underlined" type="number"
                                    ng-model="task.templateData.values[$index].value"
                                    ng-class="{'input-white': selectedTask == task}">
                        </span>

                        <!-- Radio List Field -->
                        <div ng-if="$root.getFieldById(value.fieldId).type == $root.Constants.Template.FIELD_TYPE_RADIOLIST"
                             class="d-flex align-items-center">
                            <span>{{$root.getFieldById(value.fieldId).title}}</span>
                            <md-radio-group ng-model="task.templateData.values[$index].value.selection">
                                <div class="d-flex flex-column ml-2">
                                    <div class="d-flex align-items-center"
                                         ng-repeat="option in task.templateData.values[$index].value.options track by $index">
                                        <md-radio-button ng-value="$index" ng-class="{'rb-white': selectedTask == task}"></md-radio-button>
                                        <span class=" ml-1">{{option}}</span>
                                    </div>
                                </div>
                            </md-radio-group>
                        </div>

                        <!-- Check list Field -->
                        <div ng-if="$root.getFieldById(value.fieldId).type == $root.Constants.Template.FIELD_TYPE_CHECKLIST"
                             class="d-flex align-items-center">
                            <span>{{$root.getFieldById(value.fieldId).title}}</span>
                            <div class="d-flex flex-column ml-2">
                                <div class="d-flex align-items-center"
                                     ng-repeat="option in task.templateData.values[$index].value track by $index">
                                    <md-checkbox ng-value="option.name"
                                                 ng-model="option.selection" ng-class="{'cb-white': selectedTask == task}">
                                    </md-checkbox>
                                    <span class=" ml-1">{{option.name}}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Check box Field -->
                        <div ng-if="$root.getFieldById(value.fieldId).type == $root.Constants.Template.FIELD_TYPE_CHECKBOX"
                             class="d-flex align-items-center">
                            <span>{{$root.getFieldById(value.fieldId).title}}</span>
                            <md-checkbox ng-value="$root.getFieldById(value.fieldId).title" class="ml-1"
                                         ng-model="value.value" ng-class="{'cb-white': selectedLead == lead}">
                            </md-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Waiting Spinner -->
        <div class="fbx-h fbx-center-children" ng-if="bWaiting">
            <loader class="loader-l"></loader>
            <h4 class="ml-1 text-grey">Fetching tasks...</h4>
        </div>

        <!-- Error UI -->
        <div class="fbx-center-children" ng-if="bError">
            <img src="/static/images/ic_smiley_sad.png">
            <h4 class="ml-1 text-grey">Could not get tasks...</h4>
        </div>

        <div class="d-flex justify-content-end dialog-buttons">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</md-dialog>