<!-- HTML template for Alert Dialog -->
<md-dialog class="dialog-container w-50">
    <div class="d-flex flex-column">
        <div class="container-fluid">
            <h6><b>Select columns to show</b></h6>
            <hr>
        </div>

        <div class="full-flex">
            <div ng-repeat="column in columns track by $index">
                <md-checkbox ng-value="column.title" ng-model="column.show"></md-checkbox>
                <span>{{column.title}}</span>
            </div>
        </div>

        <div class="container-fluid d-flex justify-content-end flex-shrink-0">
            <button class="btn btn-primary" ng-click="done()">Done</button>
            <button class="btn" ng-click="close()">Close</button>
        </div>
    </div>
</md-dialog>