<!-- Team Manage HTML -->
<div class="content-toolbar d-flex">
    <button class="btn btn-primary" ng-click="add()">Add Rep</button>

    <div class="dropdown">
        <button class="btn btn-primary d-flex justify-content-around align-items-center" data-toggle="dropdown" ng-disabled="selection.length == 0">
            <span>Actions | </span>
            <img class="img-icon" src="/static/images/dropdown.png"/>
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" ng-click="remove()">Remove</button>
        </div>
    </div>
</div>

<div class="content-data full-flex">
    <table class="table table-striped" ng-table="">
        <thead>
            <th>
                <input type="checkbox" ng-click="toggleAll()" ng-checked="selection.length == team.length">
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
        </thead>
        <tr ng-repeat="rep in team">
            <td class="text-center">
                <input type="checkbox" ng-click="toggleSelection(rep)" ng-checked="selection.indexOf(rep) != -1">
            </td>
            <td class="text-center">
                {{rep.name}}
            </td>
            <td class="text-center">
                {{rep.phoneNumber}}
            </td>
        </tr>
    </table>
</div>