<!-- Team Manage HTML -->
<div class="d-flex align-items-center p-2">
    <imagebutton image="/static/images/ic_add_white.png" text="Add New" ng-click="$ctrl.add()" ng-if="$root.isAdmin()"></imagebutton>
    <imagebutton class="ml-2" image="/static/images/ic_sync_white.png" text="Refresh" ng-click="$ctrl.sync()"></imagebutton>
    <imagebutton class="ml-2" image="/static/images/ic_clear_filter_white.png" text="Clear Filters" ng-click="$ctrl.clearFilters()"></imagebutton>
    <imagebutton class="ml-2" image="/static/images/ic_customize_table_white.png" text="Customize Table" ng-click="$ctrl.toggleColumns()"></imagebutton>
    <imagebutton class="ml-2" image="/static/images/ic_export_white.png" text="Export" ng-click="$ctrl.export()"></imagebutton>

    <div class="dropdown ml-2">
        <button class="btn btn-primary d-flex justify-content-around align-items-center" data-toggle="dropdown"
                ng-disabled="!$ctrl.table.selectedRows.length">
            <span>Actions | </span>
            <img class="img-icon" src="/static/images/ic_dropdown_light.png"/>
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" ng-click="$ctrl.edit()" ng-if="$root.isAdmin()">Edit</button>
            <button class="dropdown-item" ng-click="$ctrl.remove()" ng-if="$root.isAdmin()">Remove</button>
            <button class="dropdown-item" ng-click="$ctrl.track()">Live Tracking</button>
        </div>
    </div>
</div>

<!-- Table -->
<ng-include src="'/static/views/modules/Table.html'" class="d-flex flex-column flex-1"></ng-include>