<!-- Team Manage HTML -->
<div class="content-toolbar">
    <button ng-click="add()">+ Add</button>

    <div class="dropdown">
        <button class="dropdown-toggle" data-toggle="dropdown" ng-disabled="selection.length == 0">
            <span>Actions</span>
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" ng-click="remove()">Remove</button>
        </div>
    </div>
</div>

<div class="content-data">
    <table class="table table-striped" ng-table="">
        <thead>
            <th>
                <input type="checkbox" ng-click="toggleAll()" ng-checked="selection.length == team.length">
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
        </thead>
        <tr ng-repeat="rep in team">
            <td class="text-center">
                <input type="checkbox" ng-click="toggleSelection(rep)" ng-checked="selection.indexOf(rep) != -1">
            </td>
            <td class="text-center">
                {{rep.name}}
            </td>
            <td class="text-center">
                {{rep.phoneNumber}}
            </td>
        </tr>
    </table>
</div>