<!-- Tasks Manage HTML -->
<div class="content-toolbar">
    <button ng-click="add()">Add</button>
</div>

<div class="content-data full-flex">
    <table class="table table-striped" ng-table="">
        <thead>
        <th>
            Company
        </th>
        <th>
            Rep
        </th>
        <th>
            Status
        </th>
        </thead>
        <tr ng-repeat="task in tasks">
            <td class="text-center">
                {{task.lead}}
            </td>
            <td class="text-center">
                {{task.rep}}
            </td>
            <td class="text-center">
                {{task.status}}
            </td>
        </tr>
    </table>
</div>