/* General styling classes for app */

* {
    font-family: "Open Sans";
}

body, html {
    height: 100%;
    width: 100%;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0px;
}

/* Reset Container padding and margins to 0 */
[class*="col-"], .row, .container {
    padding:    0;
    margin:     0;
}

/* Classes for specific properties */
.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.full-flex{
    flex: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

/* MD Toast Positioning Hack */
md-toast.md-center {
    left: 50%;
    bottom: 50px;
    text-align: center;
    transform: translate3d(-50%, 0, 0);
}

/* Hidden element for various cases */
.hidden-element {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999px;
}