/* General styling classes for app */


body, html {
    height: 100%;
    width: 100%;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ul.bullet {
    list-style-type: square;
}

/* Cursor Update classes */
.cursor-pointer {
    cursor: pointer;
}

/* Positioning classes */
.pos-r {position: relative;}
.pos-a {position: absolute;}

/* Horizontal Rule Styling */
hr {
    border-color: darkgray;
}

/* Special spacing classes */
.ml-neg {
    margin-left: -2px;
}

/* Reset Container padding and margins to 0 */
[class*="col-"], .row, .container {
    padding:    0;
    margin:     0;
}

/* MD Toast Positioning Hack */
md-toast.md-center {
    left: 50%;
    bottom: 50px;
    text-align: center;
    transform: translate3d(-50%, 0, 0);
}

/* Hidden element for various cases */
.hidden-element {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999px;
}

/* Classes to set overflow property */
.overflow-auto      {  overflow: auto;  }
.overflow-hidden    {  overflow: hidden;  }

td.has-error, div.has-error, select.has-error {
    border: 1px solid red;
}

.hr {
    height: 1px;
    background-color: grey;
    padding: 0px;
    margin: 0px;
}

.vr {
    width: 1px;
    background-color: grey;
}