/* General styling classes for app */

* {
    font-family: "Open Sans";
}

body, html {
    height: 100%;
    width: 100%;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0px;
}

/* Reset Container padding and margins to 0 */
[class*="col-"], .row, .container, .container-fluid {
    padding:    0;
    margin:     0;
}

/* Classes for specific properties */
.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.full-flex{
    flex: 1;
}

/* MD Toast Positioning Hack */
md-toast.md-center {
    left: 50%;
    bottom: 50px;
    text-align: center;
    transform: translate3d(-50%, 0, 0);
}

/* General Button Styling*/
.button {
    margin: 5px;
    padding: 5px 20px 5px 20px;
}

.button:hover {
    transition-duration: 0.4s;
}

.button:active {
    transition-duration: 0s;
}

.button:focus {
    outline: 0px;
}

.icon-button {
    height: 36px;
    width: 36px;
    margin: 2px;
    padding: 3px;
    border: none;
    background-color: transparent;
}

.icon-button:hover {
    border: 1px solid #888888;
    border-radius: 2px;
}

/* Input related styles */
input[type='text'],
input[type='number']{
    background-color: white;
    text-align: center;
    margin: 5px 10px;
    padding: 5px 10px;
    border: 1px solid #888888;
    border-radius: 3px;
    box-shadow: 0px 0px 5px grey inset;
}

input[type='text'].has-error,
input[type='number'].has-error {
    border: 1px solid red;
    box-shadow: 0px 0px 5px red inset;
}

input:focus {
    outline: 0;
}

/* Remove number input spinner*/
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Table Styling */
.table-bordered td{
    padding: 5px;
    margin: 0px;
}

.table-bordered td.has-error {
    box-shadow: 0px 0px 5px red inset;
}