/* dashboard.html styling*/

.dashboard {
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-color: #0c1730;
}

.logo-container {
    padding: 10px;
}

.dashboard-menu {
    width: 10em;
}

.dashboard-content {
    width: calc(100% - 10em);
}