/* dashboard.html styling*/

.dashboard {
    position: relative;
    height: 100%;
}

.dashboard-header{
    height: 100px;
    background-color: #000000;
}

.dashboard-menu-content {
    position: absolute;
    top: 100px;
    bottom: 0px;
}

.dashboard-menu{
    height: 100%;
    background-color: #000000;
}

.dashboard-content{
    height: 100%;
}

.dashboard-content-options{
    background-color: black;
}