.help{
    background: white;
    min-height: 100%;
    min-width:100%;
}

.help ul{
    list-style-type:square;
}

.topic{
    background: #37bcf2;
    color: white;
}

.help-image-landscape{
    width: 100%;
    height: auto;
}

.help-image-portrait{
    width: 50%;
    height: auto;
}

.help-box{
    display: flex;
    flex: 1;
    margin: 5px;
    padding: 5px;
    align-items: center;
    line-height: 15px;
}