/* home.html styling*/

.home{
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(160deg, #0891d4 0%, #37bcf2 40%, #5ad8ff 90%);
}

.copyright-notice{
    background-color: #17253d;
}

.small-logo{
    height:30px;
    width:auto;
}
.home-image{
    height:250px;
    width: auto;
}

.ft-box{
    display: flex;
    flex: 1;
    margin: 15px;
    padding: 15px;
    align-items: center;
    line-height: 15px;
    border-radius: 30px;
}

.ft-box-grey-blue{
    background: #485c7c;
}

.ft-box-white{
    background: #d0e9ea;
}

.features{
    display: none;
}

