/* home.html styling*/

.home{
    position: relative;
    min-height: 100%;
}

.home-header{
    height: 70px;
    background-color: black;
}

.home-content{
    padding-bottom: 100px;
}

.home-footer{
    position: absolute;
    height: 100px;
    bottom: 0;
    background-color: black;
}