
.content-toolbar {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
}

.content-data {
    margin-top: 10px;
    overflow: auto;
}

.content-list-item {
    background-color: #efefef;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}