<!-- View for image button directive -->
<!-- View for image button directive -->
<div class="d-flex align-items-center justify-content-center" ng-click="pickImage()">
    <!-- Icon -->
    <div class="overlay-container">
        <img class="img-size" ng-src="{{image}}">
        <loader ng-hide="image" ng-class="loader-l"></loader>
        <div class="overlay">Upload Image</div>
   </div>
</div>

<!-- File Picker hidden Input -->
<input type="file" value="" id="image-picker" class="hidden-element" fileread="imagePicked({'file': file})"/>