<!-- Input Box with Label -->
<div class="fbx-v">
    <!-- Label -->
    <span class="text-label" ng-if="label">{{label}}</span>

    <!-- Input -->
    <input class="input-box input-lg text-left" ng-class="{'err': bShowError && err.length > 0}" type="text" ng-model="model" ng-show="!bNumber" placeholder="{{hint}}">
    <input value="0" string-to-number type="number" ng-model="model" ng-show="bNumber" placeholder="{{hint}}"
           class="input-box input-lg text-left"
           ng-class="{  'width-sm': bSmall,
                        'err': bShowError && err.length > 0}">

    <!-- Error Text -->
    <span class="text-error align-self-end" ng-if="bShowError && err.length > 0">{{err}}</span>
</div>