<!-- Map View -->
<div class="pos-r h-100 w-100"
     map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlTGdM8F8vrAcLW9dBaH-hPku8JJaFgu4">
    <!-- Map UI using ng-maps -->
    <ng-map class="w-100 h-100" map-initialized="vm.mapInitialized(map)" center="[0, 0]" zoom="2">
        <!-- Markers on map -->
        <custom-marker  ng-repeat="marker in objMap.markers" ng-if="marker.isShowing()" title="{{marker.name}}"
                        position="[{{marker.position.lat()}}, {{marker.position.lng()}}]"
                        on-click="vm.markerClick($index)">
            <div class="pos-r">
                <div class="marker" ng-class="{ 'active': objMap.selectedMarker == marker,
                                                'marker-green': marker.bg == $root.Constants.Map.MARKER_GREEN,
                                                'marker-red':   marker.bg == $root.Constants.Map.MARKER_RED}">
                    <span ng-if="marker.name">{{marker.name}}</span>
                    <img ng-if="marker.icon" ng-src="{{marker.icon}}">
                </div>
            </div>
        </custom-marker>

        <!-- Polylines on map -->
        <shape ng-repeat="polyline in objMap.polylines" name="polyline" path="{{polyline.path}}"
               geodesic="true" stroke-color="{{polyline.color}}" stroke-opacity="1.0" stroke-weight="5">
        </shape>
    </ng-map>
</div>