<!-- Template values editor -->
<div class="fbx-h align-items-start flex-wrap">
    <!-- Array of editor components of different types depending on value field -->
    <div ng-repeat="value in values" class="mr-5 mt-3">
        <!-- Text Field Editor -->
        <input-box ng-if="value.field.type == $root.Constants.Template.FIELD_TYPE_TEXT"
                   label="{{value.field.title}}" model="value.value"
                   b-show-error="bShowError" err="value.getErr()"></input-box>

        <!-- Number Field Editor -->
        <input-box ng-if="value.field.type == $root.Constants.Template.FIELD_TYPE_NUMBER"
                   label="{{value.field.title}}" model="value.value" b-number="true"
                   b-show-error="bShowError" err="value.getErr()"></input-box>

        <!-- Checkbox Field Editor -->
        <div class="fbx-v"
             ng-if="value.field.type == $root.Constants.Template.FIELD_TYPE_CHECKBOX">
            <span class="text-label">{{value.field.title}}</span>
            <md-checkbox ng-value="value.field.title"  ng-model="value.value"></md-checkbox>
        </div>

        <!-- Radiolist Field Editor -->
        <radiolist ng-if="value.field.type == $root.Constants.Template.FIELD_TYPE_RADIOLIST"
                   label="{{value.field.title}}" value="value.value"></radiolist>

        <!-- Checklist Field Editor -->
        <checklist ng-if="value.field.type == $root.Constants.Template.FIELD_TYPE_CHECKLIST"
                   label="{{value.field.title}}" value="value.value"></checklist>

        <!-- Date Field Editor -->
        <div class="fbx-v" ng-if="value.field.type == $root.Constants.Template.FIELD_TYPE_DATE">
            <datepicker hint="{{value.field.title}}" date-model="value.value"
                        model-format="{{$root.Constants.Date.FORMAT_LONG}}"
                        display-format="{{$root.Constants.Date.FORMAT_DESCRIPTIVE}}"></datepicker>
            <!-- Error Text -->
            <span class="text-error align-self-end" ng-if="bShowError && value.getErr().length > 0">{{value.getErr()}}</span>
        </div>
    </div>
</div>