.bg-primary-blue {
    background-color: #37bcf2;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: #444444;
}

.bg-off-white {
    background-color: #FAFAFA;
}

.bg-dark-blue {
    background-color: #0c1730;
}

/* Classes for setting background image as per status */

/* -- Classes to put a status icon as background for an empty div -- */
.bg-status         {
    height: 25px;
    width: 25px;
    background: transparent url("/static/images/ic_status_green.png") center / cover no-repeat;
}
.bg-status-yellow  {   background-image: url("/static/images/ic_status_yellow.png");  }
.bg-status-orange  {   background-image: url("/static/images/ic_status_orange.png");  }
.bg-status-red     {   background-image: url("/static/images/ic_status_red.png");  }