md-checkbox {
    margin: 0.25em;
}

md-checkbox.cb-s {
    margin: 0em;
    transform: scale(0.75);
}

/*Bugfix for vertical scrollbar in login dialog : https://github.com/angular/material2/issues/4764 */
md-dialog md-checkbox {
    padding: 0.25em;
}

md-dialog md-checkbox.cb-s {
    padding: 0em;
}

md-checkbox.md-checked .md-icon {
    background-color: #37bcf2;
}

md-checkbox.cb-white .md-icon {
    border-color: white;
}

md-checkbox.cb-white.md-checked .md-icon {
    background-color: transparent;
    border-color: transparent;
}