.md-datepicker-calendar-pane {
    z-index: 1001 !important;
}

.md-datepicker-input-mask {
    display: none;
}

/* Date picker in active state */
datepicker.active {
    border-color: #37bcf2;
    background-color: #37bcf244;
    box-shadow: 1px 2px 5px 0px lightgray;
}

/* Remove focus outline from div */
datepicker div:focus {
    outline: 0;
}

datepicker md-datepicker {
    height: 0px;
    width: 0px;
}