/* dialogs styling */
.dialog-container {
    background-color: white;
    max-height: 95%;
    max-width: 95%;
    border: none;
    border-radius: 3px;
    padding: 20px;
}

.dialog-editor-content {
    background-color: #FAFAFA;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 1em;
}