/* dialogs styling */
.dialog-container {
    max-height: 95%;
    max-width: 95%;
}

.dialog-editor-content {
    background-color: #FAFAFA;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 1em;
}

/* Hack for grey background in multiple dialogs */
.md-dialog-backdrop:nth-of-type(even) {
    z-index: 81;
}

.md-dialog-backdrop:nth-of-type(odd) {
    z-index: 79;
}

.md-dialog-container:nth-of-type(even) {
    z-index: 80;
}

.md-dialog-container:nth-of-type(odd) {
    z-index: 82;
}