/* dialogs styling */
.dialog-container {
    max-height: 95%;
    max-width: 95%;
}

.dialog-editor-content {
    background-color: #FAFAFA;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 1em;
}

/* Hack for grey background in multiple dialogs */
.md-dialog-backdrop:nth-of-type(even) {
    z-index: 81;
}

.md-dialog-backdrop:nth-of-type(odd) {
    z-index: 79;
}

.md-dialog-container:nth-of-type(even) {
    z-index: 80;
}

.md-dialog-container:nth-of-type(odd) {
    z-index: 82;
}

/*
 *Location Picker Dialog styling
 */
/* Dialog container */
.dialog-loc-picker {
    position: relative;
    width: 50%;
    height: 75%;
}

/* Search bar */
.dialog-loc-picker search-address {
    position: absolute;
    top: 1em;
    right: 2em;
    left: 2em;
    width: auto;
}

/* Pick button in center */
.dialog-loc-picker #pick-button {
    position: absolute;
    top: 50%;
    left: 50%;
}

.dialog-loc-picker #pick-button > div {
    position: relative;
    height: 1.5em;
    top: -2.0em;
    left: -50%;
}

/* Close button */
.dialog-loc-picker #loc-picker-buttons {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}