
/* General Image button properties */
.image-button {
    height: 40px;
    width: 40px;
    margin: 5px;
    background: transparent no-repeat center;
    background-size: 75%;
    border: none;
    border-radius: 5px;
}

.image-button:hover, .image-button.active {
    background-color: #37bcf2;
}

.image-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.ib-small {
    height: 25px;
    width: 25px;
}

/* Bin icon image button */
.ib-bin {
    background-image: url("/static/images/icon_bin.png");
}

.ib-bin.active, .ib-bin:hover {
    background-image: url("/static/images/icon_bin_active.png");
}

/* Sort icon image buttons */
.ib-sort-up {
    background-image: url("/static/images/icon_sort_up.png");
}

.ib-sort-up.active, .ib-sort-up:hover {
    background-image: url("/static/images/icon_sort_up_active.png");
}

.ib-sort-down {
    background-image: url("/static/images/icon_sort_down.png");
}

.ib-sort-down.active, .ib-sort-down:hover {
    background-image: url("/static/images/icon_sort_down_active.png");
}

.ib-edit {
    background-image: url("/static/images/icon_edit.png");
}

.ib-edit.active, .ib-edit:hover {
    background-image: url("/static/images/icon_edit_active.png");
}

.ib-cross {
    background-image: url("/static/images/icon_cross.png");
}

.ib-cross.active, .ib-cross:hover {
    background-image: url("/static/images/icon_cross_active.png");
}

.ib-link {
    background-image: url("/static/images/ic_link.png");
}

.ib-link.active, .ib-link:hover {
    background-image: url("/static/images/ic_link_active.png");
}

.ib-map {
    background-image: url("/static/images/icon_location_grey.png");
}

.ib-map.active, .ib-map:hover {
    background-image: url("/static/images/icon_location_white.png");
}

.ib-up {
    background-image: url("/static/images/ic_up_grey.png");
}

.ib-up.active, .ib-up:hover {
    background-image: url("/static/images/ic_up_white.png");
}

.ib-down {
    background-image: url("/static/images/dropdown.png");
}

.ib-down.active, .ib-down:hover {
    background-image: url("/static/images/ic_down_white.png");
}