
/* General Image button properties */
.ib-base {
    height: 2.25em;
    width: 2.25em;
    margin: 0.25em;
    background: transparent no-repeat center;
    background-size: 60%;
    border: none;
    border-radius: 0.25em;
}

/* Image button sizing */
.ib-s {
    height: 1.25em;
    width: 1.25em;
    background-size: 80%;
    margin: 0em;
}

.ib-l {
    height: 3em;
    width: 3em;
    background-size: 50%;
}

/* Hoverable Image buttons */
.ib-hover:hover {
    background-color: #37bcf2;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.ib-hover:active {
    box-shadow: none;
}

/* --------- Imagebutton directive related styling ------ */
imagebutton, ib-filepicker {
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
    background: #37bcf2;
}

imagebutton:focus,
ib-filepicker:focus {
    outline: 0;
}

/* --------- Selector classes for different icons on image buttons ------ */
.ib-sort {
    background-image: url("/static/images/ic_sort.png");
}

.ib-sort.sort-asc {
    background-image: url("/static/images/ic_sort_asc.png");
}

.ib-sort.sort-desc {
    background-image: url("/static/images/ic_sort_desc.png");
}

.ib-blank {
    background-image: url("/static/images/ic_blank.png");
}

.ib-blank.active {
    background-image: url("/static/images/ic_blank_active.png");
}

.ib-import {
    background-image: url("/static/images/ic_import_grey.png");
}

.ib-import:hover {
    background-image: url("/static/images/ic_import_white.png");
}

.ib-cross {
    background-image: url("/static/images/icon_cross.png");
}

.ib-cross.active, .ib-cross:hover {
    background-image: url("/static/images/icon_cross_active.png");
}

.ib-link {
    background-image: url("/static/images/ic_link.png");
}

.ib-link.active, .ib-link:hover {
    background-image: url("/static/images/ic_link_active.png");
}

.ib-map {
    background-image: url("/static/images/icon_location_grey.png");
}

.ib-map.active, .ib-map:hover {
    background-image: url("/static/images/icon_location_white.png");
}

.ib-up {
    background-image: url("/static/images/ic_up_grey.png");
}

.ib-up.active, .ib-up:hover {
    background-image: url("/static/images/ic_up_white.png");
}

.ib-down {
    background-image: url("/static/images/dropdown.png");
}

.ib-down.active, .ib-down:hover {
    background-image: url("/static/images/ic_down_white.png");
}