/* -- Image styling -- */
.img-icon {
    height: 25px;
    width: auto;
    padding: 5px;
    background-color: transparent;
}

.ic-large {
    height: 70px;
    width: auto;
}

.ic-small {
    height: 15px;
    width: auto;
}

/* -- Status Icon classes-- */
.live-status-default {
    background: url("/static/images/ic_status_red.png") center / cover no-repeat;
}

.live-status-waiting{
    background-image: url("/static/images/ic_status_yellow.png");
}

.live-status-active{
    background-image: url("/static/images/ic_status_green.png");
}