/* -- Image styling -- */
.img-icon {
    height: 25px;
    width: 25px;
    padding: 5px;
    background-color: transparent;
}

.logo-1{
    height: 70px;
    width: auto;
}

.live-status-default {
    height: 16px;
    width: 16px;
    background-image: url("/static/images/red.png");
    background-repeat: no-repeat;
}

.live-status-active{
    background-image: url("/static/images/green.png");
}