/* -- Image styling -- */
.img-icon {
    height: 25px;
    width: 25px;
    padding: 5px;
    background-color: transparent;
}

.logo-1{
    height: 70px;
    width: auto;
}

.live-status-default {
    background: url("/static/images/ic_status_red.png")
                center / cover
                no-repeat;
}

.live-status-waiting{
    background-image: url("/static/images/ic_status_yellow.png");
}

.live-status-active{
    background-image: url("/static/images/ic_status_green.png");
}