
.list-group-bordered {
    border: 1px solid #aaaaaa;
    border-radius: 0.25em;
}

.list-group-bordered-top {
    border: 1px solid #aaaaaa;
    border-bottom-color: transparent;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.list-group-item {
    border: 1px solid #aaaaaa;
    border-width: 1px 0px;
    padding: 0.25em;
}

.list-group-item:first-child {
    border-radius: 0;
    border-top: 0;
}
.list-group-item:last-child {
    border-radius: 0;
    border-bottom: 0;
}

.list-group-item:hover {
    color: white;
    background-color: #31a9d9;
}

.list-group-item.active {
    color: white;
    background-color: #37bcf2;
}