.map-box {
    position: relative;
}

.map-box-shadow {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
    pointer-events: none;
}