/*
 * Classes for normal marker styling
 */
.marker {
    font-size: 1rem;
    padding: 0.1em 1.0em;
    background: #37bcf2;
    color: white;
    border-radius: 0.25em;
    border: #37bcf2 solid 1px;
    box-shadow: 0px 0px 10px 1px darkgray;
    text-align: center;
    max-width: 15em;

    /* Ellipsize text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Triangular bottom */
.marker::before {
    content: '';
    display: block;
    z-index: 1;

    /* Position at bottom center */
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -0.5em;

    /* Triangular shape with borders */
    border-style: solid;
    border-width: 0.5em 0.5em 0;
    border-color: #37bcf2 transparent;
}