md-radio-button {
     margin: 0.25em;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #37bcf2;
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #37bcf2;
}