
.table {
    max-width: none;
    min-width: 100%;
    width: max-content;
}

.table td {
    padding: 0.25em;
    vertical-align: middle;
    max-width: 25em;
}

.table th {
    padding: 0.5em 0.25em;
}