
.table {
    max-width: none;
    min-width: 100%;
}

/* Header Styling */
.table thead {
    box-shadow: 0px 0px 5px 0px grey;
    background-color: whitesmoke;
    border: none;
}

.table thead th {
    max-width: 25em;
    padding: 0.1em 0.5em;
    vertical-align: middle;
    border: none;
    border-right: solid 1px lightgray;
}

.table thead th.active {
    background-color: #37bcf2;
    color: white;
}

.table thead th:focus {
    outline: 0px;
}

/* Row / Cell Styling */
tr:focus {
    outline: none;
}

.table-striped tr.active:nth-of-type(odd),
.table-striped tr.active,
.table tr.active {
    background-color: #37bcf2;
    color: white;
}

.table td {
    padding: 0.1em 0.5em;
    max-width: 25em;
    vertical-align: middle;
}

/* Table Column Sizing */
.tbl-col-s {
    min-width: 3em;
}

.tbl-col-m {
    min-width: 15em;
}

.tbl-col-l {
    min-width: 25em;
}

/* Page numbers styling */
pager a {
    padding: 0.1em 0.5em;
    color: #37bcf2;
    background-color: white;
    border: 1px solid lightgrey;
    border-left: none;
}

pager a:first-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-left: 1px solid lightgrey;
}

pager a:last-child {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

pager a:hover {
    background-color: whitesmoke;
    text-decoration-line: none;
    color: #37bcf2;
}

pager a.active {
    color: white;
    background-color: #37bcf2;
    border-color: #37bcf2;
    border-left: 1px solid #37bcf2;
}