
.table {
    max-width: none;
    min-width: 100%;
}

/* Header Styling */
.table thead {
    box-shadow: 0px 0px 5px 0px grey;
    background-color: whitesmoke;
    border: none;
}

.table thead th {
    max-width: 25em;
    padding: 0.1em 0.5em;
    vertical-align: middle;
    border: none;
    border-right: solid 1px lightgray;
}

.table thead th.active {
    background-color: #37bcf2;
    color: white;
}

.table thead th:focus {
    outline: 0px;
}

/* Row / Cell Styling */
tr:focus {
    outline: none;
}

.table-striped tr.active:nth-of-type(odd),
.table-striped tr.active,
.table tr.active {
    background-color: #37bcf2;
    color: white;
}

.table td {
    padding: 0.1em 0.5em;
    max-width: 25em;
    vertical-align: middle;
}

/* Table Column Sizing */
.tbl-col-s {
    min-width: 3em;
}

.tbl-col-m {
    min-width: 15em;
}

.tbl-col-l {
    min-width: 25em;
}

/* Page numbers styling */
ul.pagination {
    margin-bottom: 0px;
}

.page-link {
    color: #37bcf2;
    padding: 0.5em;
}

.page-item.active .page-link {
    background-color: #37bcf2;
    border-color: #37bcf2;
}

/* TODO: Remove as DSO cleanup */
.ng-table-counts {
    display: none;
}

.ng-table-pager li {
    margin: 0.2em;
}

.ng-table-pager a {
    padding: 0.25em 0.5em;
    color: black;
    border: none;
    border-radius: 2px;
    background: none;
}

.ng-table-pager a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.ng-table-pager a:hover, .ng-table-pager li.active a {
    background-color: #37bcf2;
    color: white;
    font-weight: bold;
}