
.text-pre-wrap {
    white-space: pre-wrap;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.text-grey{
    color: grey;
}

.text-bold{
    font-weight: bold;
}

.text-ellipsize {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-label {
    color: grey;
    font-size: 0.8em;
    font-weight: bold;
}

.text-error {
    color: red;
    font-size: 0.8em;
    font-weight: bold;
}